body{
    background-color: #FEFFE4;
}
p{
    color: #480C3F;
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
    font-family: "calendula", sans-serif;
font-weight: 400;
font-style: normal;
}
h2{
    text-transform: uppercase;
    font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #480C3F;
    font-size: 50px;
    text-align: center;
}
.buttons{
    width: 5.5vw;
    position: absolute;
    top: 10%;
    left: 2%;
}
.buttons img:hover{
    background-color:#d2d49c;
    border-radius: 10px;
}
.instructions{
    width: 15vw;
    padding-right: 2vw;
    position: absolute;
    bottom: 20vh;
    right: 0;
}
.instructions div{
   padding-top: 5vh;
    width:8vw;
}
.instructions img:hover{
    background-color:#d2d49c;
    border-radius: 10px;
}